@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.code {
  @apply text-sm text-gray-600 rounded-sm bg-gray-400/30;
}

.button {
  @apply px-4 py-2 mt-2 font-bold text-white bg-blue-500 rounded;
}
